[submodule "pack/theme/start/airline"]
	path = pack/theme/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/util/start/auto-pairs"]
	path = pack/util/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/util/start/editorconfig"]
	path = pack/util/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/util/start/tabnine"]
	path = pack/util/start/tabnine
	url = https://github.com/zxqfl/tabnine-vim
[submodule "pack/util/start/nerdtree"]
	path = pack/util/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "/Users/marcos/.vim/pack/util/start/ale"]
	path = /Users/marcos/.vim/pack/util/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/util/start/closetag"]
	path = pack/util/start/closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/util/start/emmet"]
	path = pack/util/start/emmet
	url = https://github.com/mattn/emmet-vim
[submodule "pack/theme/start/airline-themes"]
	path = pack/theme/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/theme/start/monokai"]
	path = pack/theme/start/monokai
	url = https://github.com/crusoexia/vim-monokai
[submodule "pack/util/start/web-server"]
	path = pack/util/start/web-server
	url = https://github.com/turbio/bracey.vim
[submodule "pack/util/start/scala-ide"]
	path = pack/util/start/scala-ide
	url = https://github.com/derekwyatt/vim-scala
[submodule "pack/theme/start/devicons"]
	path = pack/theme/start/devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/util/start/dadbod"]
	path = pack/util/start/dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/theme/start/solarized"]
	path = pack/theme/start/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/theme/start/solarized8"]
	path = pack/theme/start/solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "pack/util/cursorword"]
	path = pack/util/start/cursorword
	url = https://github.com/itchyny/vim-cursorword
[submodule "pack/util/start/nerdtree-plugin"]
	path = pack/util/start/nerdtree-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/theme/start/webdevicoins"]
	path = pack/theme/start/webdevicoins
	url = https://github.com/cj/vim-webdevicons
[submodule "pack/util/start/tag-lists"]
	path = pack/util/start/tag-lists
	url = https://github.com/vim-scripts/taglist.vim
